<ion-card button [routerLink]="['/study-peding-cards', deck.id]">
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-title>{{ deck.name }}</ion-card-title>

      <div slot="end" class="header-right">
        <ion-text color="danger">
          <span>{{ deck.cards.pendingStudyAmount }}</span>
        </ion-text>
        <ion-icon
          name="options-outline"
          size="medium"
          aria-label="Options"
        ></ion-icon>
      </div>
    </ion-item>
  </ion-card-header>

  @if(deck.description) {
  <ion-card-content>
    {{ deck.description }}
  </ion-card-content>
  }
</ion-card>
