<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Japanary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="flex-center">
    <ion-label>
      <h1>Japanese Dictionary</h1>
      <p>Search for a word in Kanji, Hiragana or Katakana. Ex: 辞書</p>
    </ion-label>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <app-dictionary-search-form
    (search)="onSearch($event)"
  ></app-dictionary-search-form>
</ion-footer>
