<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(loading$ | async) {
  <app-search-item-skeleton [numberOfItems]="9"></app-search-item-skeleton>
  } @else {
  <app-search-item-list
    [items]="(results$ | async) ?? []"
  ></app-search-item-list>
  }
</ion-content>

<ion-footer class="ion-padding" [translucent]="true">
  <app-dictionary-search-form
    [searchQuery]="searchQuery"
  ></app-dictionary-search-form>
</ion-footer>
